<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Menü Takip</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">
</head>

   
        @*<div class="container">
                <div class="card card-login mx-auto mt-5">
                    <div class="card-header">Giriş</div>
                    <div class="card-body">

                        <div class="text-center">
                            <!--<a class="d-block small mt-3" href="register.html">Register an Account</a>-->
                            <!--<a class="d-block small" href="forgot-password.html">Forgot Password?</a>-->
                        </div>
                    </div>
                </div>
            </div>*@
        <div>
            @RenderBody()

        </div>
<body>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>
