@using MenuTakip.ViewData
@model HomeView
@{
    ViewBag.Title = "Index";
  
}
<h2>Index Sayfası İşlemler için Diğer Sayfaları Ziyaret Ediniz</h2>

@*@foreach (var s in Model.Menuler) örnek
{
    <li>
    
     
              @(s.menuNo).
      
          
    </li>
}*@

  
