@{
    ViewBag.Title = "Sec";
}


<h2>Sec</h2>
<div class="alert alert-success"><strong>Başarılı Bir Şekilde Menünüz Seçildi, Geri Dönüp Ödeme Yapınız.</strong></div>
<div>
    <a class="btn btn-primary" href="@Url.Action("Show","Home")">Geri Dön</a>
</div>